
  body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .container{
    margin: auto;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .login-container {
    width: 50%;
    z-index: 1;
    background: rgba(229, 226, 226, 0.3); 
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px);
    color: #100f0f; 
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004080;
  }
  
  
  @media (max-width: 768px) {
    .login-container {
      margin: 15px;
      padding: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .login-container {
      margin: 10px;
      padding: 20px;
    }
  }